<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'index.html' %}
{% block content %}

<div class="col-sm-12 col-xl-6" style="margin-left:200px;margin-top:100px;width:900px;">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Basic Table</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">yourname</th>
                                        <th scope="col">youremail</th>
                                        <th scope="col">subject</th>
                                        <th scope="col">message</th>

                                    </tr>
                                </thead>
                              {% for i in data %}
                                <tbody>
                                    <tr>

                                        <th scope="row">{{i.yourname}}</th>
                                        <td>{{i.youremail}}</td>
                                        <td>{{i.subject}}</td>
                                        <td>{{i.message}}</td>



                                        <td> <form action="{% url 'deletecontact' dataid=i.id %}">
                            <button class="btn btn-primary" type="submit">delete</button>
                            </form></td>

                                    </tr>

                                </tbody>
                              {% endfor %}
                            </table>
                        </div>
                    </div>
{% endblock %}

</body>